/* PlayersPage.css */
body {
    background-color: #2b86e2; /* Light gray background */
    font-family: 'Arial', sans-serif;
    margin: 0; /* Remove default margin */
}

.players-container {
    max-width: 1200px; /* Max width for the content */
    margin: 20px auto; /* Centered horizontally with top/bottom margin */
    padding: 20px; /* Padding inside the container */
}

.players-container h1 {
    text-align: center; /* Center the title */

    color: #ffffff; /* Darker gray for text */
    margin: 10px 0; /* Margin above and below headers */
    text-shadow: 
    0 0 5px rgba(0, 0, 0, 0.6),
    0 0 10px rgba(68, 68, 68, 0.8), 
    0 0 15px rgb(211, 202, 207);
}

.players-grid {
    display: flex;
    flex-wrap: wrap; /* Wrap items on smaller screens */
    justify-content: center; /* Center the grid */
}

.player-card {
    margin: 10px; /* Margin between cards */
    background-color: rgba(100, 182, 236, 0.178); /* White background for cards */
    border-radius: 10px; /* Rounded edges for cards */
    padding: 15px; /* Padding inside cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center; /* Center text inside cards */
    transition: transform 0.2s; /* Transition effect for hover */

}

.player-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.player-card img {
    border-radius: 10px; /* Rounded edges for images */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for images */
    max-width: 100%; /* Ensure image does not overflow */
    height: 200px; /* Maintain aspect ratio */
    width: 250px;
    border: 5px solid #000000; /* Black border */
}

.player-card h3 {
    color: #ffffff; /* Darker gray for text */
    margin: 10px 0; /* Margin above and below headers */
    text-shadow: 
    0 0 5px rgba(0, 0, 0, 0.6),
    0 0 10px rgba(68, 68, 68, 0.8), 
    0 0 15px rgb(211, 202, 207);
}

.view-details-button {
    background-color: #5a5a5a46; /* Bootstrap primary color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded edges */
    padding: 10px; /* Padding for button */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect for hover */
}

.view-details-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
