@font-face {
    font-family: 'FONT';
    src: url("./Bileha.otf") format('opentype'); /* Adjust path based on where you put the font */
  }

body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: 'garamond', sans-serif;
    margin: 0;
    padding: 0;
}

.submission-form-container {
    font-family: 'garamond', sans-serif;
    max-width: 600px;
    margin: 50px auto; /* Center the container */
    background-color: rgba(0, 0, 0, 0.603); /* White background for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.submission-form-container h1 {
    text-align: center;
    color: #ffffff; /* Darker text for the title */
    margin-bottom: 20px;
}

.submission-form-container label{
    color: #bdb8c2;
}

form {
    display: flex;
    flex-direction: column;
}

.submission-form-container input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid  #434440;
    border-radius: 5px;
    font-size: 16px;
    color: #b9b2be;
    background-color: #00000027;
}

.submission-form-container button {
    background-color: #14e649; /* Bootstrap blue */
    color: rgb(126, 119, 119);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submission-form-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.submission-form-container input[type="text"]:focus, select:focus {
    border-color: #434440; /* Blue border when focused */
    outline: none;
}

@media (max-width: 768px) {
    .submission-form-container {
        padding: 20px;
    }

    input, select {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
